{{#each users}}
    <div class="card card-body md-3">
        <h4>{{fullName}}</h4>
        <p>{{email}}</p>
        <a class="btn btn-dark btn-block" href="edit-user/{{_id}}">Edit User</a>
    </div>
{{/each}}