<div class="container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Smith</td>
        <td>33</td>
        <td>Oshawa</td>
      </tr>
      <tr>
        <td>Bill Dave</td>
        <td>27</td>
        <td>London</td>
      </tr>
      <tr>
        <td>Jim Cone</td>
        <td>45</td>
        <td>Rome</td>
      </tr>
    </tbody>
  </table>
</div>